/* Style Sheet */

h1 {
	text-align: center;
}


.flash {
	content:url(http://i105.photobucket.com/albums/m219/trexrell/flash_zps15f35f5c.gif);
	width: auto;
	height: 50px;
	margin: auto;
}

.rflash {
	content:url(http://i.imgur.com/LDWD1.gif);
	width: auto;
	height: 50px;
	margin: auto;
}

tr {
	background: gray;
}

.track1{
	max-width: 700px;
	margin: 10px auto;
}

.track1:after {
	content:"";
	display: table-row;
	clear: both;
}

.lane1 {
  float: left;
  width: 100%;
  margin-left: 5%;
}


.track2 {
	max-width: 700px;
	margin: 10px auto;
}

.track2:after {
	content:"";
	display: table-row;
	clear: both;
}

.lane2 {
  float: left;
  width: 60%;
  margin-left: 20%;
}

table {
  margin: 10px;
}

table tr td {
  min-height: 80px;
  min-width: 60px;
  padding: 5px;
  border: 2px solid #ccc;
  border-right-style: hidden;
  border-left-style: hidden;
}
